@{
    ViewBag.Title = "CryptoQuotes";
}
<h2>@ViewBag.Title.</h2>
<h5>Данное веб-приложение позволяет получить данные о котировках криптовалют от api CoinMarketCap.</h5>
<h5>
    Реализованы функции:<br>
    1) Регистрация;<br>
    2) Вход в систему;<br>
    3) Запрос котировок;<br>
    4) Отображение котировок в таблице с фильтрацей, сортировкой для колонок и постраничной навигацией;<br>
    5) Простейший логгер записывающий в БД данные об исключениях.<br>
    Доступ по адресу ../ExceptionDetails/Index только для пользователя с ролью admin(Login: admin@admin.ru Password: P)o9i8u7);<br>

    Использованные технологии:<br>
    <br>
    1) Asp.net MVC;<br>
    2) MS SQL;<br>
    3) Entity Framework;<br>
    4) ASP.NET Identity;<br>
    5) Ninject;<br>
    6) NewtonSoft.JSON;<br>
    7) Datatables..<br>
</h5>
<p><a href="https://github.com/eapat/CryptocurrencyQuotes">Проект на GitHub</a></p>


