@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Патрашкин Егор.</p>
    <p><a href="tg://resolve?domain=eapat">Написать в Телеграм</a></p>
    <p><a href="https://github.com/eapat">GitHub</a></p>
</address>
